
.wrapper{
	width: 80%;
	margin: auto;
}
.header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.logo .menu{
	display: inline-block;

}
.logo{
	position: relative;
	padding: 40px 0;
	padding-left: 44px;
    font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;
}
.logo__circle{
	width: 28px;
	height: 28px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.logo__circle_color_dark-blue{
background:#0056EC;
border-radius: 50%;
opacity: .7;
}
.logo__circle_color_blue{
	left: 8px;
	top: 56%;
	background: #C8DBFB;
	border-radius: 50%;
	opacity: .7;
}
.menu{
	display: flex;
	align-items: center;
	font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.menu__item{
	position: relative;
	margin-right: 26px;
	font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	transition: opacity .5s;
}
.menu_burger{
	display: none;
}
.menu__item_active::after{
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #0056ec;
}
.menu__item::after{
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 0;
	height: 3px;
	background-color: #0056ec;
	opacity: 0;
	transition: opacity .5s, width .5s;
}
.menu__item:last-child{
	margin-right: 0;
}
.menu__item:hover{
	opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after{
	opacity: 1;
	width: 100%;
}
.main{
 padding:0 63% 100px 0;
 background: url(img/mainImg.svg) no-repeat top right;
}

.main__title{
font-family: 'PT Serif', serif;
font-size: 50px;
font-weight: bold;
line-height: 65px;
margin: 0 0 40px 0;
}
.main__title-text_highlight{
	background: #ecf3ff;
}
.main__subtitle{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 26px;
	margin: 0 0 41px 0;
}
.main__button{
	background: #0056EC;
    border-radius: 4px;
    color: white;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
padding: 14px 16px;
text-decoration: none;
transition: background-color .5s;
}
.main__button:hover{
	background-color:#191970;
}
@media (max-width: 768px) {
	.menu{
		display: none;
	}
	.logo__text{
		display: none;
	}
	.menu_burger{
		display: flex;
		align-items: center;
		width: 25px;
		height: 17px;
		padding:40px 0;
		background: url(img/rectangle.svg) no-repeat center;
	}
	.header{
		margin-bottom: 28px;
	}
	.main{
		text-align: center;
		padding: 74% 0 0;
		background-size: 74%;
		background-position: top center;
	}
	.main__title{
		margin-bottom: 44px;
		font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
	}
	.main__subtitle{
		margin-bottom: 25px;
		font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
	}
	.main__button{
		font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
	}
}