*{
	border:1px dashed red;
}
body{
	width: 1920px;
}
.wrapper{
	width: 80%;
	margin: auto;
}
.header{
	display: flex;
	justify-content: space-between;
}

.logo .menu{
	display: inline-block;
}
.logo{
	padding: 40px 0;
	font-family: PT Serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
.menu{
	display: flex;
	align-items: center;
	font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.menu__item{
	padding: 0 13px;
}
.menu__item:last-child{
	padding-right: 0;
}
.main-section{
	display: flex;
}
.main-content__title{
	width: 567px;
	height: 255px;
font-family: 'PT Serif', serif;
font-size: 66px;
font-weight: bold;
line-height: 87px;
display: flex;
align-items: center;
margin-top: 206px;
margin-bottom: 40px;
}
.main-content__description{
	width: 455px;
height: 52px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 26px;
	margin: 0px;
}
.image-content{
	display: flex;
	width: 770px;
	height: 657px;
	margin:170px 0 181px 191px;	
}
.main-content__button{
	width: 270.75px;
    height: 57px;
	background: #0056EC;
    border-radius: 4px;
    color: white;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
margin-top: 41px;
}